#.gitignore
Sources/CANAPI/.svn
Sources/build_no.h
Trial/.objects
Trial/kvl_test
Libraries/CANAPI/.objects
Libraries/CANAPI/libUVCANKVL.*
Libraries/KvaserCAN/.objects
Libraries/KvaserCAN/libKvaserCAN.*
Utilities/can_moni/.objects
Utilities/can_moni/can_moni
Utilities/can_test/.objects
Utilities/can_test/can_test
Binaries
Includes
Testing
*.log
